
{% extends "base.html" %}
{%  load static %}

{% block content%}

{% if object_list %}

<ul>
{% for page in object_list %}

{#  <li><a href="{{page.id}}/{{page.slug}}">{{page.name}}</a></li> # вытягивает и так #}
<li><a href="{{ page.get_absolute_url }}">{{page.name}}</a></li>
{# чтобы заработал get_absolute_url, нужно поднять весь путь новый, по документации #}

{#  <li><a href="{{page.get_absolute_url}}">{{page.name}}</a></li> #}

{#  {% url 'getlink_app:view_list_ns' %}   #}
{#  {% url 'yes_ns:view_detail_ns' %}   #}
{% endfor %}


</ul>
{% else %}
<p>Пока нет записей.</p>
{% endif %}
{% endblock %}